@media (min-width: 1900px) {

	.contact-section-1 .contact-boxes-1 { margin-bottom: 72%; }

}
@media (min-width: 1700px) and (max-width: 1899px) {

	.home-page .container { width: 88%; }
	.contact-section-1 .contact-boxes-1 { margin-bottom: 64%; }
	.image{
			top:13%;
			left: 48%;
		}

}
@media (min-width: 1500px) and (max-width: 1699px) {

	#page-wrapper { width: 100%; }
	#page-wrapper.full { width: 100%; }
	.home-page .container { width: 100%; }
	.content-page .container { width: 100%; }


	/*----------  CONTACT US  ----------*/
	.contact-section-1 .contact-info > .container { width: 85%; }
	.contact-section-1 .contact-boxes-1 { margin-bottom: 64%; }
}
@media (min-width: 1300px) and (max-width: 1499px) {

	#page-wrapper { width: 100%; }
	#page-wrapper.full { width: 100%; }
	.home-page .container { width: 100%; }
	.content-page .container { width: 100%; }

	/*----------  CONTACT US  ----------*/
	.contact-section-1 .contact-info > .container { width: 85%; }

	#page-wrapper { width: 100%; }
	#page-wrapper.full { width: 100%; }
	.home-page .container { width: 100%; }
	.content-page .container { width: 100%; }


	/*----------  CONTACT US  ----------*/
	.contact-section-1 .contact-info > .container { width: 85%; }
	.contact-section-1 .contact-boxes-1 { margin-bottom: 75%; }


}
@media (min-width: 1200px) and (max-width: 1299px) {

	#page-wrapper { width: 100%; }
	#page-wrapper.full { width: 100%; }
	.home-page .container { width: 100%; }
	.content-page .container { width: 100%; }


	/*----------  CONTACT US  ----------*/
	.contact-section-1 .contact-info > .container { width: 90%; }
	.contact-section-1 .contact-boxes-1 { margin-bottom: 77%; }
	.image{
			top:14%;
			left: 48%;
		}


}
@media (min-width: 992px) and (max-width: 1199px) {

	#page-wrapper { width: 100%; }
	#page-wrapper.full { width: 100%; }
	.home-page .container { width: 90%; }
	.content-page .container { width: 95%; }

	/*----------  CONTACT US  ----------*/
	.contact-section-1 .contact-info > .container { width: 90%; }
	.contact-section-1 .contact-boxes-1 { margin-bottom: 95%; }
	.image{
			top:17%;
			left: 48%;
		}


}

@media (min-width: 992px) {


}

/**
******************************************************************
*	MOBILE & TABLET COMMON
******************************************************************
*/
@media (min-width: 200px) and (max-width: 991px) {

	.home-page.cm-item,
	.contact-section-1 { overflow-y: scroll !important; }
	.contact-section-1 .inner-wrpper .contact-info { width: 100%; }
	.contact-section-1 .contact-boxes-1 { margin-bottom: 8%; }

	.contact-section-1 .map-wrapper {
		position: inherit;
		width: 100%;
		height: 300px;
	}

}

/**
******************************************************************
*	TABLET
******************************************************************
*/
@media (min-width: 768px) and (max-width: 991px) {

	#page-wrapper { width: 100%; }
	#page-wrapper.full { width: 100%; }
	.home-page .container { width: 92%; }
	.content-page .container { width: 80%; }
	.content-page > .inner-wrpper { padding: 80px 0; }


	.clock.clock-1 .countdown-widget .inner-dash { font-size: 100px; }
	.clock.clock-1 .countdown-widget .inner-dash > .digit { min-width: 20px; }

	/*----------  CONTACT US  ----------*/
	.contact-section-1 .contact-info > .container { width: 90%; }
	.image{
			top:19%;
			left: 48%;
		}
}

/**
******************************************************************
*	MOBILE
******************************************************************
*/
@media (min-width: 200px) and (max-width: 767px) {

	#page-wrapper { width: 100%; }
	#page-wrapper.full { width: 100%; }
	#page-wrapper.active-home { height: auto; min-height: auto; }
	.bt-menu-trigger span,
	.bt-menu-trigger span:before,
	.bt-menu-trigger span:after { background-color: #363636; }
	.title-wrp { margin-bottom: 40px; }


	/*----------  HOME  ----------*/

	.home-page-1 .clock.clock-1 { margin-top: 30%; }

	.home-page-1 .clock.clock-1 { margin-bottom: 20px; }

	/*----------  CONTACT US  ----------*/
		.contact-section-1 .contact-boxes-1 { margin-bottom: 40%; }

}
@media (min-width: 600px) and (max-width: 767px) {

	.home-page .container { width: 92%; }
	.content-page .container { width: 80%; }
	.content-page > .inner-wrpper { padding: 0; }
	.bt-menu-trigger {
			width: 55px;
    	height: 55px;
    	right: 22px;
	}
	.bt-menu-trigger span {
		left: 20%;
		margin-left: -20px;
		width: 40px;
	}
	body.dark-theme .bt-menu-open .bt-menu-trigger span:before,
	body.dark-theme .bt-menu-open .bt-menu-trigger span:after {
		background-color: #000;
	}

	/*----------  HOME  ----------*/

	.clock.clock-1 .countdown-widget .inner-dash { font-size: 80px; }
	.clock.clock-1 .countdown-widget .inner-dash > .digit { min-width: 20px; }
	.image{
			top:16%;
			left: 48%;
		}

}
@media (min-width: 480px) and (max-width: 599px) {

	.home-page .container { width: 92%; }
	.content-page .container { width: 90%; }
	.content-page > .inner-wrpper { padding: 0; }
	.bt-menu-trigger {
		width: 55px;
    height: 55px;
    right: 22px;
	}
	.bt-menu-trigger span {
		left: 50%;
		margin-left: -20px;
		width: 40px;
	}
	body.dark-theme .bt-menu-open .bt-menu-trigger span:before,
	body.dark-theme .bt-menu-open .bt-menu-trigger span:after {
		background-color: #000;
	}

	/*----------  HOME  ----------*/
	.clock.clock-1 .countdown-widget .inner-dash { font-size: 60px; }
	.clock.clock-1 .countdown-widget .inner-dash > .digit { min-width: 20px; }

	/*----------  CONTACT US  ----------*/
	.contact-section-1 .contact-info > .container { width: 90%; }
	.contact-section-1 .contact-boxes-1 { margin-bottom: 55%; }
	.image{
			top:16%;
			left: 48%;
		}
}
@media (min-width: 200px) and (max-width: 479px) {

	.bt-menu-trigger {
		top: 2px;
		right: 0px;
		width: 40px;
		height: 40px;
	}
	body.dark-theme .bt-menu-open .bt-menu-trigger span:before,
	body.dark-theme .bt-menu-open .bt-menu-trigger span:after {
		background-color: #000;
	}
	.bt-menu-trigger span {
		width: 30px;
		left: 50%;
		margin-left: -15px;
	}
	.bt-menu.bt-menu-open { border-bottom-width: 100vh; }
	.bt-menu {
		-webkit-transition: border-width 0.4s, background-color 0.8s, height 0s 0.3s;
		transition: border-width 0.4s, background-color 0.8s, height 0s 0.3s;
	}
	.bt-menu.bt-menu-open {
		-webkit-transition: border-width 0.4s, background-color 0.8s;
		transition: border-width 0.4s, background-color 0.8s;
	}
	.bt-menu ul {
		width: 0;
		-webkit-transition: all 0.40s ease-out;
		-moz-transition: all 0.40s ease-out;
		-ms-transition: all 0.40s ease-out;
		-o-transition: all 0.40s ease-out;
		transition: all 0.40s ease-out;
	}
	.bt-menu-open.bt-menu ul {
		width: 12%;
		-webkit-transition: all 0.40s ease-out;
		-moz-transition: all 0.40s ease-out;
		-ms-transition: all 0.40s ease-out;
		-o-transition: all 0.40s ease-out;
		transition: all 0.40s ease-out;
	}
	.navigatio-wrp-1 .navlink { padding: 15px 0px; }
	.navigatio-wrp-1 .navlink .icon { height: auto; margin-bottom: 10px; }
	.navigatio-wrp-1 .navlink > .text { display: block; }
	.home-page .container { width: 92%; }
	.content-page .container { width: 90%; }
	.content-page > .inner-wrpper { padding: 0; }

	/*----------  HOME  ----------*/
	.clock.clock-1 { padding: 0; padding-top: 4px; }
	.clock.clock-1 .countdown-widget .dash { padding: 10px 15px; padding-bottom: 8px; }
	.clock.clock-1 .countdown-widget .inner-dash { display: inline-block; font-size: 30px; }
	.clock.clock-1 .countdown-widget .inner-dash > .digit { min-width: 15px; }
	.clock.clock-1 .countdown-widget .dash_title {
		display: block;
		line-height: 1;
		font-size: 12px;
	}

	/*----------  CONTACT US  ----------*/
	.contact-section-1 .contact-info > .container { width: 90%; }
	.contact-section-1 .contact-boxes-1 { margin-bottom: 70%; }
	.image{
			top:16%;
			left: 48%;
		}
}
