
ul{ list-style-type: none; padding: 0; }
a{ text-decoration: none !important; }
button:focus{ outline: none; }
.vm{ display: table; }
.vm .vm-item{ display: table-cell; vertical-align: middle; }
.vhm { position: relative; }
.vhm > .vhm-item {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

#countdown
  {
    text-align: center;
    position: fixed;
    top: 40%;
    left: 10%;
    color: white;
  }
  #countdown small
  {
    font-size: 550%;
    font-weight: bold;
  }
ul.countdown
  {
    margin: 0;
    padding: 0;
  }
ul.countdown span 
  {
    font-size: 550%;
    text-align: center;
    display: inline-block;
  }
ul.countdown li
  {
  border-right: 1px solid white;
  font-weight: bold;
  font-size: 28px;
  display:inline-block;
  padding: 0px 40px 0px 40px;
  }
ul.countdown li:last-child
  {
    border-right: none;
  }

.main-wrapper{ 
	position: relative;
	width: 100%;
	height: 100%; 
	overflow: hidden;
}
.bg-wrapper{ background-size: cover; background-position: center center; }

.container{ 
	width: 1200px; 
	text-align: center; 
	position: relative;
}


.navigation-wrp{ margin-bottom: 0; display: inline-block; }
.navigation-wrp .nav-box{ 
    position: relative; 
    margin: auto;
    display: inline-block;
}
.navigation-wrp .nav-box:first-child{ margin-left: 0; }
.navigation-wrp .nav-box a{
    text-transform: uppercase;
    padding: 5px 20px 5px 20px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    width: 100%;
    border: 2px solid transparent;
}
.navigation-wrp .nav-box a:hover,
.navigation-wrp .nav-box a.active{
	border-color: #fff;
}


.mobile-icon{ 
	display: block; 
	width: 50px;
	height: 50px;
	color: #fff; 
	position: fixed;
	top: 30px;
	left: 30px;
}
.mobile-icon i{ font-size: 30px; }
.nav-outter-wrp{ 
	position: fixed; 
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: purple;
	z-index: 9999;
}
.nav-outter-wrp .navigation-wrp.mob{
	 transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99999;
}
.navigation-wrp.mob .nav-box{ display: block; margin: 12px 0; }

.image{
    width: 100px;
    margin-top: 6%;
    margin-right: 43%;
    z-index: 1;
}

.logowild{
    width: 300px;
    margin-top: 3%;
    margin-right: 55%;
}

.logotoulouse{
    width: 300px;
    margin-top: 5%;
    margin-right: 15%;
}    


.textpresentation {
            background: linear-gradient(to bottom, rgb(149, 27, 128), rgb(203, 38, 132)) ;
            color: white;
            font-family: 'roboto';
            font-size: 130%;
            text-align: center;
            margin-top: 20%;
            margin-bottom: 10%;
}
    #map {
      height: 400px;
      width: 100%;
      margin: 0;
    }
    
    .textlieu {
      color: rgb(149, 27, 128);
      font-family: 'roboto';
      font-size: 130%;
      text-align: center;
      margin-bottom: 10%;
      margin-top: 5%;
    }