

.container-fluid{
    padding: 0;
    height: 100%;
}

.haut{
    height: 50vh;
    background-color: rgb(149,27,128);
}

.title{
    font-family: 'Roboto';
    color: white;
    padding: 2%;
}

.txtgauche{
    color: white;
    align: left;
    font-family: 'Roboto';
    margin-top: 3%;
    margin-left: 25%;
    text-align: left !important
    display: inline-block;
}

.txtdroite{
    color: white;
    float: right;
    font-family: 'Roboto';
    margin-top: 3%;
    margin-right: 20%;
    display: inline;
}

h2{
color: white;
font-size: 18px;
}

p{
    color: white;
    font-family: 'Roboto';
    font-size: 110%;
}



.basgauche{
    height: 55vh;
    background-color: rgb(247,122,38);

}

.basdroite{
    height: 55vh;
    background-color: whitesmoke;
}

img.twit{
    width: 30%;
    display: block;
    margin-top: 13%;
    margin-left: auto;
    margin-right: auto;
}

.tweet{
    height: 55vh;
    overflow-y: scroll;
}
